<h1>Bonjour étranger</h1>
<p>Voici la liste des potins :</p>

<% Gossip.all.each do |potin|%>
  <p>
    Le titre du potin :
    <%= potin.title%></br>
    Son auteur:
    <%= User.find_by(id: potin.user_id).first_name%> </br>
    
    <%=link_to "Voir plus", my_gossip_path(@gossip.id)%>
  </p>
<%end%>
